---

---

<section class="section" id="presentation">
  <div class="wrapper">
    <div class="name">
      <h1>Hi, I'm Patrick Vilchez!</h1>

      <span>Web Backend/Frontend Developer</span>
    </div>

    <div class="description">
      <p>Frontend and Backend web developer.
        I also know about relational and non-relational databases as MongoDB and PostgreSQL.
      </p>
      <p>
        I have knowledge in JavaScript, TailwindCSS, React, Python, Django, Flask, and ExpressJS.
        I also have knowledge about Docker and AWS-S3.
        I enjoy constantly learning and fecing new challenges.
      </p>
    </div>

    <a class="resume" href="https://drive.google.com/file/d/1iQwB8Qr_4dmPB0IowWulLLvIuU4i2ehk/view?usp=sharing">
      <span>Resume</span>
      <i class="fa-solid fa-download"></i>
    </a>
  </div>
</section>

<style>
  .name {
    text-align: center;
  }

  .description > p {
    margin: 15px 0;
    max-width: 280px;
  }

  .resume {
    text-align: center;
    text-decoration: none;
    color: #1d4ed8;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    background-color: #1e293b;
    padding: 15px;
    box-shadow: 0 5px #1d4ed8;
    transition: all 0.15s ease-in-out;
  }

  .resume span {
    margin-right: 5px;
  }

  .resume:hover {
    box-shadow: 0 0;
    transform: translate(0, 5px);
  }

  .resume:visited {
    color: #1d4ed8;
  }
</style>
