---

---

<main class="section" id="presentation">
  <div class="wrapper">
    <div class="name">
      <h1>
        Patrick Vilchez
      </h1>

      <span>Web Backend Developer</span>
    </div>

    <article class="description">
      <p>
        Hi, I'm a Software Developer who loves to create API's, CLI and TUI programs.
      </p>
      <p>
        I specialize in the backend using
        <strong>Python</strong>, <strong>NodeJS</strong>, <strong>Django (DRF)</strong>, <strong>Express</strong> and <strong>Go</strong>
        along with databases like <strong>PostgreSQL</strong>, <strong>MongoDB</strong> and <strong>Redis</strong> using <strong>Docker</strong>.
        I'm also knowledgeable on the frontend with <strong>JavaScript</strong>, <strong>CSS</strong>, <strong>Tailwind CSS</strong>, and <strong>React</strong>.
      </p>
    </article>

    <a class="resume" href="public/patrick-vilchez.pdf" download="patrick-vilchez">
      <span>Resume</span>
      <i class="fa-solid fa-download"></i>
    </a>
  </div>
</main>

<style>
  .name {
    text-align: center;
    font-size: 1.7em;
  }

  .name > h1 > span {
    display: inline-block;
  }

  .description > p {
    margin: 15px 0;
    max-width: 370px;
    font-weight: 300;
    line-height: 1.5rem;
  }

  .description > p > strong {
    color: #0891b2;
  }

  .resume {
    text-align: center;
    text-decoration: none;
    color: #1d4ed8;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    background-color: #1e293b;
    padding: 15px;
    box-shadow: 0 5px #1d4ed8;
    transition: all 0.15s ease-in-out;
  }

  .resume span {
    margin-right: 5px;
  }

  .resume:hover {
    box-shadow: 0 0;
    transform: translate(0, 5px);
  }

  .resume:visited {
    color: #1d4ed8;
  }
</style>
