---
import ProjectCard from './ProjectCard.astro'

import projects from '@utils/projectsList.js'
---

<section class="section" id="projects">
  <div class="wrapper">
    <h2 class="projects-title">Projects</h2>

    <div class="projects-grid">
      {
        projects.map((project) => <ProjectCard {...project} />)
      }
    </div>
  </div>
</section>

<style>
  .projects-title {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
</style>
