.navigation {
  display: flex;
  position: fixed;
  z-index: 1;
  padding: 15px;
  background: white;
  width: 380px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


@media (max-width: 425px) {
  .navigation {
    width: 280px;
  }
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:visited {
  color: black;
}
