:root {
  --main-bg-color: #0f172a;
  --secondary-bg-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Slab', serif;
  color: aliceblue;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:nth-child(odd) {
  background-color: var(--main-bg-color);
}

.section:nth-child(even) {
  background-color: var(--secondary-bg-color);
}

.wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
