.projects {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.projects-title {
  margin-top: 60px;
  margin-bottom: 20px;
}
