---
import ContactCard from '@components/Contact/ContactCard.astro'

import contacts from '@utils/contactList.js'
---

<section class="section" id="contact">
  <div class="wrapper">
    <h2 class="contact-title">Contact me!</h2>

    <div class="project-grid">
      {
        contacts.map((contact) => <ContactCard {...contact} />)
      }
    </div>
  </div>
</section>

<style>
  h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
</style>
