---
import '../styles/navbar.css'
---

<nav class="navbar">
  <ul class="navbar-items">
    <li><a href="#presentation">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
