---
import '../styles/projects.css'
import '../styles/projectCard.css'

import ProjectCard from './ProjectCard.astro'

import projects from '../utils/projectsList'
---

<section class="section" id="projects">
  <div class="wrapper">
    <h2 class="projects-title">Projects</h2>

    <div class="projects-grid">
      {
        projects.map((project) => <ProjectCard {...project} />)
      }
    </div>
  </div>
</section>
