.button {
  background-color: #eef2ff;
  color: #6366f1;
  text-decoration: none;
  border: 1px solid #6366f1;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: bolder;
  font-size: medium;
  margin-bottom: 50px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.09);
  box-shadow: 0 5px;
}
