---
export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="image" property="og:image" content="/portrait.webp" />
  <meta name="image" property="og:image:secure_url" content="/portrait.webp" />
  <meta name="author" content="Patrick Vilchez" />
  <meta name="title" property="og:title" content="Portfolio | Patrick Vilchez" />
  <meta name="description" content="Hi and welcome to my portfolio, here I introduce myself, I show my projects and, I include links in which you can contact me if you are interested!" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/page-icon.svg">
  <title>{title}</title>
</head>
<body>
  <slot />

  <script src="https://kit.fontawesome.com/21cd4ccf71.js" crossorigin="anonymous"></script>
</body>
</html>

<style is:global>
  :root {
    --main-bg-color: #0f172a;
    --secondary-bg-color: #1e293b;
  }

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', serif;
    color: aliceblue;
  }

  .section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section:nth-child(even) {
    background-color: var(--main-bg-color);
  }

  .section:nth-child(odd) {
    background-color: var(--secondary-bg-color);
  }

  .wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
</style>
