.about {
  align-items: center;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(99,102,241,1) 0%, rgba(50,156,248,1) 78%, rgba(0,212,255,1) 100%);
  /* background-color: #6366f1; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.title {
  color: white;
}

.explanation {
  min-width: 250px;
  max-width: 500px;
  margin-left: 35px;
  margin-right: 35px;
  color: white;
  font-size: 1.05rem;
}

.download {
  margin-top: 35px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s linear;
}

.download:hover {
  transform: scale(1.09);
  box-shadow: 0 5px;
}
