.contact {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(99,102,241,1) 0%, rgba(50,156,248,1) 67%, rgba(0,212,255,1) 100%);
}
