.container {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 15px;
  background-color: #eef2ff;
}

.more {
  margin-top: 35px;
  color: #6366f1;
  text-decoration: none;
  border: 1px solid #6366f1;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.more:hover {
  transform: scale(1.09);
  box-shadow: 0 5px;
}
