.container {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 15px;
  background-color: #0f172a;
}

.title {
  text-align: center;
}

@media (max-width: 425px) {
  .title {
    display: flex;
    flex-direction: column;
  }
}

.more {
  color: #6366f1;
  position: absolute;
  margin-bottom: 50px;
  bottom: 0;
}
