@keyframes expandLeft {
  100% {
    width: 100px;
  }
}

.button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: 5px;
  padding-right: 0.5rem;
  margin-bottom: 1.8rem;
  background: white;
  border-radius: 10px 0 0 10px;
  width: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.2s ease-in-out;
}

.button:hover {
  /* transform: scale(1.2); */
  width: 65px;
  /* transition: width 0.2s linear; */
}

.img {
  display: block;
  height: 40px;
}
